#top {
    background-color: aqua;
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.txt {
    font-family: sans-serif;
}

#title {
    position: absolute;
    left: 41%;
}

#display {
    position: absolute;
    left: 55%;
    top: 16%;
    background-color: grey;
    width: 28%;
    height: 79%;
    border-radius: 26px;
}

#infoHead {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    border-bottom: 3px solid black;
    
  }

#location {
    position: absolute;
    left: 3%;
}
